* {
    margin:0;
    padding:0;
    font-family:'Gill Sans MT', sans-serif;

}

body {
    background-image: url(./images/teror.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    display: flex;
    background-color:rgb(209, 1, 147);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f2f2f2;
    padding: 20px 7%;
}
.navbar ul{
    list-style-type: none;
}

.navbar li {
    float: left;

}

.navbar a {
    font-size: 20px;
    font-weight: bold;
    color:#f2f2f2;
    text-align: center;
    padding:35px;
    text-decoration: none;
    margin: 0;
}

.navbar a:hover {
    background-color: #ddd;
    color:black;
}

.logo {
    color:white;
    font-size: 26px;
    padding: 14px 16px;
    margin: 0;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:wheat;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.title h1 {
    padding: 10px;
}